body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: #ece6e6;
    padding: 20px;
}

.logo img {
    max-height: 80px;
    vertical-align: middle;
}

.hambu {
    color: #5e4242;
    margin-left: 20px;
    font-style: 'medula one';
}

body {
    font-family: sans-serif;
}

fieldset {
    border: 1px solid;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    margin-top: 100px;

}

.login {
    /* width: 640px; */
    /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    /* position: relative; */
    display: flex;
    flex-direction: column;


}

/* .class corpo{
    justify-content: center;
    display: inline-block;
    align-items: center;
} */
.label-float {
    position: relative;
    padding-top: 13px;
    margin: auto;
    display: flex;
}

input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    height: 10px;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
    
    
}

.label-float input:focus {
    border: 2px solid #5e4242;
}

.label-float input::placeholder {
    color: transparent;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    color: #5e4242;
}

.label-float input:required:invalid+label {
    color: #5e4242;
}

.label-float input:focus:required:invalid {
    border: 2px solid #5e4242;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 13px;
    font-weight: bold;
    top: 0;
    color: #5e4242;
    
}
