<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: #ece6e6;
    padding: 20px;
}

.logo img {
    max-height: 80px; 
    vertical-align: middle;
}

.hambu{
    color: #5e4242;
  margin-left: 20px;
  font-style: 'medula one';



}

=======
#nav-logo{
   height: 90 px;
}
>>>>>>> e651f20ea65cc96807c335395dcdae7e7ac2b80e
