body {
    margin: 0;
    padding: 0;
    background-image: url('');;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8c7924b;
}

.hambu {
    color: #e47f21;
    margin-left: 60px;
    max-height: 80px;
    vertical-align: middle;
}

.hambu {
    color: #5e4242;
    margin-left: 20px;
    font-family: 'Medula One', cursive;
    letter-spacing: 20px;
    font-size: 20px;
}

body {
    font-family: sans-serif;
}

.field {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    margin: auto;
    border-radius: 20px;
    margin-top: 90px;
    border-color: #FFB67B;
    width: 30%;

}

.botao {
    display: flex;
    justify-content: center;
}

.fgt-pss {
    text-align: center;
    padding: 1rem;
    font-size: small;
    color: #808080;
}

.fgt-pss a{
    color: black;
    text-decoration: none;
}

.login {
    height: auto;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin: auto;
    display: flex;
}

input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    height: 10px;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;


}

.label-float input:focus {
    border: 2px solid #FFB67B;
}

.label-float input::placeholder {
    color: transparent;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    color: #5e4242;
}

.label-float input:required:invalid+label {
    color: #5e4242;
}

.label-float input:focus:required:invalid {
    border: 2px solid #FFB67B;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 13px;
    font-weight: bold;
    top: 0;
    color: #5e4242;
}

#logo {
    width: 10%;
}

#h2login {
    display: flex;
    justify-content: center;
    color: #5e4242;
}

#botaologin {
    margin-top: 20px;
    background-color: #00D128;
    border-radius: 30px;
    border: #fff;
    color: #fff;
    height: 40px;
    width: 90px;
    font-weight: bold;

}

select option[value="cacapava"],
select option[value="taubate"],
select option[value="sanja"],
select option[value="lagoinha"] {
    background: rgba(225, 131, 16, 0.103);
}

#filial {
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 40px;
    padding-left: 7%;
    font-size: 16px;
    font-weight: 400;
    width: 290px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
}

.footer {
    margin-top: 101px;
    background-image: url("FOOTER.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding:30px 0; 
  }

  @media screen and (min-width: 769px) {
    .field {
        width: 30%;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    .field {
        width: 30%;
    }
  }

  @media screen and (max-width: 480px) {
    input {
        height: 30px;
    }
    img {
        width: 25%;
    }

    .hambu {
        display: none;
    }
    .field {
        border: none;
        margin-top: 30px;
    }
    .fgt-pss {
        font-size: large;
    }
    .login {
        position: relative;
    left: -90%;
    }
    #h2login {
        font-size: xx-large;
    }
    #botaologin {
        height: 10%;
        width: 75%;
    }
    #filial {
        height: 60px;
    }
  }

